body{

	//background: white url("images/back.jpeg");
}
.jumbotron{

	background: white url("images/yellow.jpeg");
}
.jumbotron-special{

	background: white url("images/purple.jpeg");

}
.jumbotron-special h2{

	color:white;
}